* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.container {
     display: grid;
     grid-template-columns: repeat(12,1fr);
     grid-template-rows: auto 1fr auto;
}

.header {
     display: flex;
     flex-direction: column;
     background-color: #000;
}

.mini-navbar {
     background: url(image/orange.jpg) center no-repeat;
     background-size: cover;
     width: 100vw;
     height: 8vh;
}