* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     margin: 2rem;
}

.container {
     display: grid;
     grid-template-columns: repeat(12,1fr);
     grid-template-rows: auto 1fr auto;
}

.header {
     display: flex;
     flex-direction: column;
     grid-column: 1/ span12;
}

.mini-navbar {
     background: url(image/high-calorie-fruits-1296x728-feature.webp) center no-repeat;
     background-size: cover;
     width: 100vw;
     height: 8vh;
     display: flex;
     justify-content: center;
     align-items: center;
}

.header-title {
     font-size: 1.2rem;
     font-weight: 600;
     color: #fff;
}

.logo-bar {
     display: flex;
     justify-content: space-between;
     align-items: center; 
     padding: 2rem; 
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo-icon {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
}

.logo-name {
     color: #007D56;
     font-size: 3rem;
     font-weight: 600;
}

.logo-para {
     font-size: 1.5rem;
     font-weight: 700;
     color: #007D56;
}

.logo-para1 {
     font-size: 1.5rem;
     font-weight: 700;
     color: #000;
}

.searchbar-container {
     display: flex;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 10px;
}

.search-bar {
     font-size: 1.1rem;
     font-weight: 500;
     padding: 1rem 4rem;
     border-radius: 10px 0 0 10px;
     border: none;
     background-color: #007D56;
     margin-right: 1px;
}

.select-box {
     font-size: 1.1rem;
     font-weight: 500;
     padding: 1rem 2rem;
     border: none;
     color: #fff;
     background-color: #007D56;
}

.search-icon {
     font-size: 1.1rem;
     font-weight: 500;
     padding: 1rem;
     border: none;
     color: #fff;
     border-radius: 0 10px 10px 0;
     background-color: #fb7645;
}

.login-container {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
}

.login-div {
     display: flex;
     gap: 1rem;
}

.login-para {
     font-size: 1.1rem;
     font-weight: 500;
}

.login-icon {
     font-size: 1.3rem;
     font-weight: 500;
}

.shopping-container {
     display: flex;
     gap: 1rem;
     justify-content: center;
     align-items: center;
     border: 1px solid #007D56;
     padding: .25rem 1.5rem;
     border-radius: 5px;
}

.cart-icon {
     font-size: 1.5rem;
     font-weight: 500;
}

.shopping-text {
     font-size: 1.1rem;
     font-weight: 500;
     line-height: 1.5;
}

.price {
     font-size: 1.1rem;
     font-weight: 500;
     color: #007D56;
}

.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1rem;
     border-radius: 15px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.category-button {
     font-size: 1.3rem;
     font-weight: 500;
     padding: 1rem 3rem;
     color: #fff;
     border-radius: 15px;
     background-color: #fb7645;
}

.menu-list {
     display: flex;
     gap: 2rem;
}

.nav-items {
     list-style: none;
}

.nav-link {
     text-decoration: none;
     font-size: 1.1rem;
     font-weight: 500;
}

.social-container {
     display: flex;
     gap: 2rem;
}

.social-item {
     list-style: none;
}

.social-link {
     text-decoration: none;
     font-size: 1.1rem;
     font-weight: 500;
}

.main-section {
     display: flex;
     flex-direction: column;
     grid-column: 1/ span 12;
     margin-top: 1rem;
}

.home-page {
     display: grid;
     grid-column: 1/ span 12;
     gap: 2rem;
}

.menu-sidebar {
     grid-column: 1/ span 2;
     padding: .5rem;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.category-list {
     display: flex;
     flex-direction: column;
     padding: .5rem;
}

.category-item {
     list-style: none;
     padding: .7rem;
     border-radius: 10px;
     display: flex;
}

.category-link {
     text-decoration: none;
     font-size: 1.3rem;
     font-weight: 500;
     display: flex;
     gap: 1rem;
     color: #161616;
}

.category-icon {
     font-size: 1.5rem;
     font-weight: 500;
     color: #007D56;
}

.all-category {
     color: #007D56;
     margin-left: 2.5rem;
}

.image-card {
     display: flex;
     justify-content: right;
     align-items: start;
     padding: 2rem;
     grid-column: 3/ span 8;
     background: url(image/fruits-image.jpeg) no-repeat center;
     background-size: cover;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 10px;
}

.image-div {
     display: grid;
     margin: 2rem;
     gap: 1.5rem;
}

.percentage-btn {
     font-size: 1.5rem;
     font-weight: 500;
     color: #fff;
     background-color: #ff4e2d;
     border: none;
}

.info-para {
     font-size: 1.2rem;
     font-weight: 500;
     color: #fff;
}

.image-title {
     font-size: 2.4rem;
     font-weight: 600;
     letter-spacing: 2;
     color: #fff;
}

.shop-button {
     font-size: 1rem;
     font-weight: 500;
     padding: .7rem 1rem;
     border-radius: 15px;
     background-color: #ff4e2d;
     color: #fff;
     border: none;
}

.sale-disscount-container {
     grid-column: 11/ span 2;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius: 10px;
     background: url(image/high-calorie-fruits-1296x728-feature.webp) no-repeat center;
     background-size: cover;
}

.sale-disscount-card {
     display: grid;
     gap: 1rem;
}

.sale-btn {
     font-size: .9rem;
     font-weight: 500;
     color: #fff;
     background-color: #ff4e2d;
     border: none;
     padding: .5rem;
     border-radius: 10px;
}

.sale-para {
     font-size: 1.2rem;
     font-weight: 500;
     color: #007D56;
}

.sale-disscount-name {
     font-size: 2rem;
     font-weight: 600;
     color:#007D56 ;
}

.shop-btn {
     font-size: 1.1rem;
     font-weight: 500;
     color: #fff;
     background-color: #ff4e2d;
     border-radius: 10px;
     text-decoration: none;
     padding: 1rem 2rem;
}

.payment-div {
     display: flex;
     justify-content: space-between;
     align-items: center;
     grid-column: 1/ span 12;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.payment-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding: 4rem 2rem;
     border-radius: 10px;
     background-color: #007D56;
}

.payment-item {
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1.5rem;
}

.payment-icon {
     font-size: 2.5rem;
     font-weight: 600;
     color: #fff;
}

.payment-text {
     font-size: 1.5rem;
     font-weight: 600;
     color: #fff;
     line-height: 1.5;
}

.payment-para {
     font-size: 1.2rem;
     font-weight: 500;
     color: #FFFFFF91;
}